spring:
  application:
    name: BiddingSystem

  datasource:
    url: jdbc:postgresql://localhost:5432/newdb
    username: postgres
#    Password changed from dsa to 123456
    password: 123456

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

jwt:
  secret: "ODE2YzBhNmJlMmFkODcxYzM5YWIwNjc5ZTM1Mzc5ZTY0ODc2Y2ZkMzg0MmQwZmEzZTgwYjliM2I="
  message: "Login successful"

  sql:
    init:
      mode: always

h2:
  console:
    enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    url: /v3/api-docs